In [1]:
import numpy as np
import cv2
import matplotlib.pyplot as plt
import pandas as pd
from PIL import Image
import os

In [2]:
os.chdir('C:\Digital Engineering\Gender Detection')

In [4]:
ls

 Volume in drive C is OS
 Volume Serial Number is F2E1-B412

 Directory of C:\Digital Engineering\Gender Detection

12/10/2021  02:01 PM    <DIR>          .
12/10/2021  02:01 PM    <DIR>          ..
11/06/2021  01:59 PM    <DIR>          crop
12/10/2021  02:01 PM        54,798,943 dataframe_images_100_100.pickle
11/06/2021  02:10 PM            61,048 f_01.png
11/06/2021  01:48 PM    <DIR>          female
03/22/2020  05:42 AM           930,127 haarcascade_frontalface_default.xml
11/06/2021  01:46 PM    <DIR>          male
09/16/2021  01:16 PM           142,515 PROJECT PROPOSAL.pdf
               4 File(s)     55,932,633 bytes
               5 Dir(s)  47,088,734,208 bytes free

In [5]:
import pickle

In [6]:
# import pickle data
df=pickle.load(open('./dataframe_images_100_100.pickle','rb'))

In [25]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,188,180,184,188,173,179,192,178,216,...,109,111,115,116,122,116,119,120,117,111
1,female,32,24,32,27,29,29,29,32,36,...,58,47,27,33,22,28,22,36,62,17
2,female,22,30,39,36,30,61,11,17,10,...,156,171,177,186,176,185,186,190,177,177
3,female,35,35,35,35,35,35,35,35,35,...,75,82,90,92,86,70,89,84,84,74
4,female,86,86,71,54,45,49,33,20,18,...,35,34,32,32,30,32,34,34,33,30

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5465 entries, 0 to 6057
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 52.2+ MB

In [8]:
# checking for missing value
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# Data Pre-processing
1. Remove missing value
2. Min Max Scaling

In [14]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

 ##### No missing value found

In [37]:
#split into two parts
X=df.iloc[:,1:].values
y=df.iloc[:,0].values

In [38]:
X[5]

array([ 81,  80,  83, ..., 151, 155, 148], dtype=uint8)

In [39]:
X.shape

(5465, 10000)

In [40]:
y.shape

(5465,)

# Min Max Scaling
## Xnorm = $ \frac{x-minValue}{maxValue-minValue}$

In [41]:
X.min(),X.max()

(0, 255)

In [42]:
Xnorm = X/X.max()

In [43]:
Xnorm

array([[0.7372549 , 0.70588235, 0.72156863, ..., 0.47058824, 0.45882353,
        0.43529412],
       [0.1254902 , 0.09411765, 0.1254902 , ..., 0.14117647, 0.24313725,
        0.06666667],
       [0.08627451, 0.11764706, 0.15294118, ..., 0.74509804, 0.69411765,
        0.69411765],
       ...,
       [0.09803922, 0.09803922, 0.10196078, ..., 0.11764706, 0.12156863,
        0.13333333],
       [0.08235294, 0.10588235, 0.12156863, ..., 0.07843137, 0.08627451,
        0.09803922],
       [0.01568627, 0.01176471, 0.00784314, ..., 0.35294118, 0.35294118,
        0.36470588]])

In [44]:
Xnorm.shape

(5465, 10000)

In [45]:
y

array(['female', 'female', 'female', ..., 'male', 'male', 'male'],
      dtype=object)

In [46]:
#Doing encoding for target value not normalization
# female= 1 male = 0
y_norm= np.where(y=='female',1,0)

In [47]:
# saving x and y
np.savez('./data_10000_norm.npz',Xnorm,y_norm)